:root {
  --very-dark-blue: #090b1a;
  --dark-desaturated-blue: #1b1938;
  --soft-violet: #aa5cdb;
  --white: #ffffff;
  --slightly-transparent-white: #ffffffbf;
  --slightly-transparent-white: #ffffff99;
}

