* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --font-primario: "Poppins", sans-serif;
  --font-secundario: "Open Sans", sans-serif;
  --Violet: #674baf;
  --Soft-Magenta: #e882e8;
}

body {
  background-color: var(--Violet);
  height: 100vh;
  color: #ffffff;
  position: relative;
  overflow:hidden;
}

body::before {
  content: "";
  position: absolute;
  width: 100%;
  top: -20px;
  height: 100%;
  background-image: url('./img/bg-desktop.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  /* transform: rotate(45deg); */
  z-index: -1;
}

.header {

  max-width: 1280px;
  margin: auto;
  margin-top: 20px;
  display: flex;
  align-items: center;
  padding: 10px 30px;
}

.header .logo {
  height: 50px;
}

/* /////////////////////////////////////////////////////////////// */

.section {
  max-width: 1280px;
  padding: 10px 30px;
  margin: auto;
  margin-top: 80px;
  display: flex;
}

.section .containerImg{
  width: 50%;
  text-align: center;
}

.section .containerImg .imgSection {
  width: 90%;
}

.section .containerText{
  width: 50%;
  padding: 40px;
}

.section .containerText h2 {
  font-size: 36px;
  font-family: var(--font-primario);
}

.section .containerText p {
  font-family: var(--font-secundario);
  font-weight: 400;
  margin: 20px 0px;
}

.section .containerText a {
  display: inline-block;
  text-align: center;
  background-color: #ffffff;
  width: 200px;
  padding: 15px 0px;
  border-radius: 30px;
  color: var(--Violet);
  font-size: 18px;
  font-family: var(--font-primario);
  text-decoration: none;
  box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.20);
  transition: 0.5s;
}

.section .containerText a:hover {
  background-color: var(--Soft-Magenta);
  color: #ffffff;
}

.footer {
  max-width: 1280px;
  padding: 10px 30px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 30px;
  display: flex;
  justify-content: end;
}
.footer a {
  display: inline-block;
  height: 45px;
  width: 45px;
  text-align: center;
  padding-top: 11px;
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  margin-right: 20px;
  border: 2px solid #ffffff;
  border-radius: 50px;
  transition: 0.5s;
}

.footer a:hover {
  border: 2px solid var(--Soft-Magenta);
  color: var(--Soft-Magenta);
}

@media (max-width: 1000px) {
  
  body {
    overflow: auto;
    overflow-x: hidden;
  }
  body::before {
    max-width: 1000px;
    height: 50%;
    background-image: url('./img/bg-mobile.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    /* transform: rotate(45deg); */
    z-index: -1;
  }
  .section {
    max-width: 100%;
    padding: 0;
    margin-top: 10px;
    display: block;
    text-align: center;
  }
  .section .containerImg{
    margin: auto;
    margin-top: 20px;
    width: 80%;
  }
  .section .containerText{
    width: 100%;
    padding: 40px;
    margin-top: 30px;
  }
  .section .containerText h2 {
    font-size: 24px;
    font-family: var(--font-primario);
  }
  .footer {
    max-width: 80%;
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }
  .footer a {
    margin-right: 0px;
    margin: 0px 10px;
  }
}



