* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

:root {
  --Dark-cyan: #19a2ae;
  --Dark-desaturated-blue: #2d3248;
  --Dark-grayish-blue: #6a6f81;
  --Dark-gray: #969696;
}

.body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--Dark-cyan);
  font-family: "Kumbh Sans", sans-serif;
  position: relative;
  overflow: hidden;
}

.body::before {
  content: "";
  position: absolute;
  top: -200px;
  left: -200px;
  width: 600px;
  height: 600px;
  background-image: url('./img/bg-pattern-top.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  z-index: -1;
}

.body::after {
  content: "";
  position: absolute;
  bottom: -200px;
  right: -200px;
  width: 600px;
  height: 600px;
  background-image: url('./img/bg-pattern-bottom.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  z-index: -1;
}

.containerCard {
  width: 350px;
  background-color: #ffffff;
  text-align: center;
  border-radius: 15px;
  overflow: hidden;
  z-index: 10;
}

.containerCard .imgCard {
  height: 140px;
}

.containerCard .perfilCard {
  display: inline-block;
  justify-content: center;
  width: 100%;
}

.containerCard .perfilCard .containerImg .img {
  margin-top: -55px;
  border-radius: 50px;
  border: 5px solid #ffffff;
  margin-bottom: 20px;
}

.containerCard .perfilCard .titleCard {
  font-size: 18px;
  color: var(--Dark-desaturated-blue);
  font-weight: 700;
  margin-bottom: 15px;
}

.containerCard .perfilCard .titleCard span {
  color: var(--Dark-grayish-blue);
  font-weight: 400;
}

.containerCard .perfilCard .textCard {
  color: var(--Dark-grayish-blue);
  font-weight: 400;
  margin-bottom: 20px;
}

.containerCard .perfilCard hr {
  border: 1px solid var(--Dark-grayish-blue);
}

.containerCard .perfilCard .numbersCards {
  padding: 25px 0px;
  display: flex;
  justify-content: space-around;
}

.containerCard .perfilCard .numbersCards .numberCard h3 {
  font-size: 18px;
  color: var(--Dark-desaturated-blue);
  font-weight: 700;
}

.containerCard .perfilCard .numbersCards .numberCard p {
  color: var(--Dark-grayish-blue);
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 2px;
}

@media (max-width: 600px) {
  .body::before {
    width: 400px;
    height: 400px;
  }
  .body::after {
    width: 400px;
    height: 400px;
  }
}
